@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: "Dancing Script", cursive;
    background: #1d002c;
    color: #fff;
    overflow: hidden;
}

.container {
    padding-top: 100px; /* Ajusta este valor según la altura de tu navbar */
    min-height: 100vh;
}

.slide {
    padding: 20px;
    text-align: center;
}
