.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 170px;
    
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;                            /*Espacio entre los ul/li*/
    color: #FFFFFF;
    font-size: 18px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #FFFFFF;
    padding: 10px 30px;
    border-radius: 50px;                   /*Forma circular alrededor*/
    cursor: pointer;                       /*Cuando pasas encima del boton, te saldra un cursor */
    transition: 0.3s;                      /*Tiempo para que el movimiento del cursor se veas mejor*/
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer;                     /*Cursor encima de diferentes paginas que puedes escoger en el menu*/
}
.navbar-search-icon {
    position: relative;
  }
  
  .navbar-search-icon .dot {
    position: absolute;
    width: 10px; /* Corregido, antes estaba duplicado */
    height: 10px; /* Añadido para dar altura */
    background-color: tomato;
    border-radius: 50%; /* Cambio a 50% para hacer un círculo perfecto */
    top: -5px; /* Ajustar posición */
    right: -5px; /* Ajustar posición */
  }

  @media (max-width:1050px){
        .navbar .logo{
            width: 140px;
        }
        .navbar-menu{
            gap: 20px;
            font-size: 17px;
        }
        .navbar-right{
            gap: 30px;
        }
        .navbar-right img{
            width: 22px;
        }
        .navbar-right button{
            padding: 8px 25px;
        }
  }
  @media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}
@media (max-width:750px){
    .navbar-menu{
        display: none;
    }

}

    
  
