body {
    background-color: rgb(176, 214, 211);
    background-image: url('https://st.depositphotos.com/2235295/2689/i/450/depositphotos_26891681-stock-photo-futuristic-abstract-background-with-blue.jpg');
    background-repeat: no-repeat;
    background-size: cover
}
  
  h1 {
    color: rgb(12, 12, 12);
    text-align: center;
  }
  
  h2{
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
  }

 