
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    background-color: #e6dbdb; /* Puedes ajustar el color de fondo según tus preferencias */
    display:table-column;
    
  }
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .menu {
    display: flex;
    float: left;
  }
  
  .menu ul {
    display: none; /* Ocultar el menú desplegable por defecto */
  }
  
  /* Estilos para el menú desplegable */
  .services:hover .dropdown {
    display: block;
    position: absolute;
    background-color: #333;
    padding: 10px;
  }
  
  .dropdown li {
    margin: 5px 0;
  }
  
  